<div class="row">
    <br>
    <br>

    <div class="col-sm-4">
        <!-- <a href="/dang-ky">
            <button class="btn btn-success">Đăng Ký</button>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="/danh-sach">
            <button class="btn btn-danger">Danh Sách</button>
        </a>
    </div>
    <div class="col-sm-4">
            <a href="/yeu-cau">
                <button class="btn btn-primary">Yêu Cầu</button>
            </a> -->
            <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle btn-lg" type="button" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true" style="margin-right: 10px;"></i>Tùy Chọn
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="/dang-ky"><i class="fa fa-user-o" aria-hidden="true" style="margin-right: 10px;"></i>Đăng Ký</a></li>
                      <li><a href="/danh-sach"><i class="fa fa-database" aria-hidden="true" style="margin-right: 10px;"></i>Danh Sách</a></li>
                      <li><a href="/yeu-cau" ><i class="fa fa-bookmark-o" aria-hidden="true" style="margin-right: 10px;"></i>Yêu Cầu</a></li>
                    </ul>
                  </div>
        </div>
</div>